body {
  background-color: aqua;
    font-family: Verdana;
    text-align: center;
  
  }
  

.cats {
  display: flex;
  flex-wrap: wrap;
}

.cats {
  background-color: purple;
  box-sizing: border-box;
  border: 1px solid black;
  margin: 10px;
  width: calc(25% - 20px);
  transition: background-color 0.5 ease;
}

.cats {
  background-color: lightgray;
}

.img {
  position: relative;
  overflow: hidden;
  width: 60%;
  padding-bottom: 75%;
  display: flexbox;
  
}



