
  
  body {
    background-color: aqua;
  }

  .cats {
    background-color: palevioletred;
    margin: 0.5em;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid purple;
    flex: 1;
    
      }

  @media (min-width : 960px) {
    .cats {
        display: flex;
    }
}